  <div class="video-parent">
    <div class="video playBtn">
      <video
      class="full-vid"
      controls
      poster="../assets/image/Demo_thumb.jpg"
      ng-click="play($event)"
      ng-src="../assets/video/Demo_Reel.mp4"
      video-ctrls>
        </video>
      <div ng-class="playIcon"></div>
      </div>
    </div>
    <div class="breakdown-wrapper">
      <div class="row">
        <h1>Shot Breakdowns</h1>
      </div>
      <div class="row">
        <div class="shot-breakdowns">

          <h3 class="breakdown-header">Shot 1 - Firefly Scene</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Scene from Thesis short film.</li>
            <li class="breakdown-list">Contribution: All done by myself.</li>
          </ul>
          <h3 class="breakdown-header">Shot 2 - Dialogue Scene</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Dialogue and lip-sync exercise.</li>
            <li class="breakdown-list">Contribution: Animation, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Rig and Props - Provided by the AAU</li>
          </ul>
          <h3 class="breakdown-header">Shot 3 - What's in the Box?</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Emotion exercise.</li>
            <li class="breakdown-list">Contribution: Animation, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Rig and Props provided by the AAU</li>
          </ul>
          <h3 class="breakdown-header">Shot 4 - Evil Laugh</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Facial Expression exercise.</li>
            <li class="breakdown-list">Contribution: Animation and Rendering</li>
            <li class="breakdown-list">Rig provided by the AAU</li>
          </ul>
          <h3 class="breakdown-header">Shot 5 - Firefly Scene</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Scene from Thesis short film.</li>
            <li class="breakdown-list">Contribution: All done by myself</li>
          </ul>
          <h3 class="breakdown-header">Shot 6 - Fleeing the Bathroom</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Silent decision making exercise.</li>
            <li class="breakdown-list">Contribution: Animation, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Rig and Props provided by the AAU</li>
          </ul>
          <h3 class="breakdown-header">Shot 7 - In the Spotlight</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Embarrassed emotion exercise.</li>
            <li class="breakdown-list">Contribution: Animation and Rendering</li>
            <li class="breakdown-list">Rig provided by the AAU</li>
          </ul>
          <h3 class="breakdown-header">Shot 8 - Motion Capture Polish</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Contribution: Animation polish, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Rig and MoCap data provided by the AAU</li>
            <li class="breakdown-list">Props from Turbosquid.com</li>
          </ul>
          <h3 class="breakdown-header">Shot 9 - Cube Animation</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Animation test for 2015 GEICO Bassmaster Classic.</li>
            <li class="breakdown-list">Contribution: Animation and Rendering</li>
          </ul>
        </div>
        <div class="shot-breakdowns">
          <h3 class="breakdown-header">Shot 10 - Firefly Scene</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Scene from Thesis short film.</li>
            <li class="breakdown-list">Contribution: All done by myself</li>
          </ul>
          <h3 class="breakdown-header">Shot 11 - Creature Animation</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Creature animation exercise</li>
            <li class="breakdown-list">Contribution: Animation, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Rig is the 'Nico' character</li>
          </ul>
          <h3 class="breakdown-header">Shot 12 - Fish Swim test</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Underwater animation exercise.</li>
            <li class="breakdown-list">Contribution: Rigging, Animation, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Model provided by Bruce Cash.</li>
          </ul>
          <h3 class="breakdown-header">Shot 13 - Firefly Scene</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Scene from Thesis short film.</li>
            <li class="breakdown-list">Contribution: All done by myself</li>
          </ul>
          <h3 class="breakdown-header">Shot 14 - Horse Animation</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Quadruped motion exercise.</li>
            <li class="breakdown-list">Contribution: Animation, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Rigs provided by the AAU.</li>
          </ul>
          <h3 class="breakdown-header">Shot 15 - Firefly Scene</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Scene from Thesis short film.</li>
            <li class="breakdown-list">Contribution: All done by myself</li>
          </ul>
          <h3 class="breakdown-header">Shot 16 - Pick it Up</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Weight exercise.</li>
            <li class="breakdown-list">Contribution: Animation and Scene Setup</li>
            <li class="breakdown-list">Rig provided by the AAU.</li>
          </ul>
          <h3 class="breakdown-header">Shot 17 - Dialogue Scene</h3>
          <ul class="breakdown-ul">
            <li class="breakdown-list">Dramatic dialogue exercise.</li>
            <li class="breakdown-list">Contribution: Animation, Scene Setup, and Rendering</li>
            <li class="breakdown-list">Rig and Props provided by the AAU.</li>
          </ul>
        </ul>
        <h3 class="breakdown-header">Shot 18 - Firefly Scene</h3>
        <ul class="breakdown-ul">
          <li class="breakdown-list">Scene from Thesis short film.</li>
          <li class="breakdown-list">Contribution: All done by myself</li>
        </ul>
      </div>
    </div>
  </div>
