<div class="content-wrapper">
  <div class="video-parent">
    <div class="video">
      <video class="full-vid" controls poster="../assets/firefly_title.jpg">
        <source src="../assets/Mrak_Firefly.mp4#">
        </video>
      </div>
    </div>
    <div class="breakdown-wrapper">
      <div class="film-breakdowns">
        <h1>Project Overview:</h1>
        <p class="breakdown-p">
          I've always loved the fantasy genre. It's so open to colorful stories and
          characters. For my animation thesis, I wanted to create a heart-warming and
          cute story of a youthful spirit's departure from tradition. The story is a
          sort of folklore-inspired origin story for why the moon shines at night.
          We follow a young spirit as he leaves his dark world behind and discovers
          what's just out of sight.
        </p>
        <h3 class="breakdown-header">Project Proposal:</h3>
        <p class="breakdown-p">
          My goal is to challenge my animating skills and design a quality film that
          is entertaining with an appealing color palette. I'm aiming for roughly two
          minutes and thirty seconds for time. I intend to create a memorable world by
          using proper lighting, music, and characters. The film will have no dialogue
          so body language and music timing will be paramount. The color scheme will be
          a mixture of pale and saturated shaders to help establish the atmosphere of
          each scene. The mood will feel like a child's storybook.
        </p>
        <h3 class="breakdown-header">Software:</h3>
        <ul class="breakdown-ul">
          <li class="breakdown-list">Autodesk Maya 2012-2015 - Modeling, Rigging, Animation</li>

          <li class="breakdown-list">Autodesk Mudbox 2014 - Texture mapping</li>

          <li class="breakdown-list">Adobe After Effects CS5.5 - Compositing</li>

          <li class="breakdown-list">Adobe Photoshop CS5.5 - Texture creation</li>

          <li class="breakdown-list">Adobe Audition CS5.5 - Sound editing</li>

          <li class="breakdown-list">Audacity - Sound editing</li>
        </ul>
        <h3 class="breakdown-header">Story Details:</h3>
        <p class="breakdown-p">
          Our story begins with a gradual descent into a dark forest. Deep within the
          woods, a circular object is found hovering in a glade. Suddenly, a lantern
          swoops by and activates the orb, lighting the area around it. A troupe of
          spirits is then revealed making their way down a well-travelled path. The
          procession lights their way by activating magical orbs with their staffs.
          A small, wide-eyed youth starkly contrasts the four dutiful adults. He flits
          around behind their orderly gate and is clearly interested in the orbs.
          His curiosity finally gets the better of him and he tries to touch an orb with
          his lantern. He is quickly stopped and given a disapproving stare from
          one of the adults.
        </p>
        <p class="breakdown-p">
          The youth gives a sigh of boredom and stares at moon through a break in the
          trees. He continues to stare as he walks past one of the lit orbs. Suddenly,
          the youth comes to a realization and quickly looks at the orb and then the
          moon. He stops the adults and excitedly points his lantern at the moon. The
          adults, after realizing his intentions, exchange a mix of humor and annoyance
          before continuing on. The child's excitement is replaced by anger at their
          disregard and he leaves the group behind. He runs up to the base of the tree
          where we transition to the treetops right as he pops up
          from the leaves.
        </p>
        <p class="breakdown-p">
          The spirit hops onto a protruding branch and promptly wiggles his lantern at
          the moon. Nothing happens. This does nothing but feed the spirit's
          determination to prove the adults wrong. The scene is cut to black in the
          middle of a powerful swing of his lantern. Back in the forest, the adults are
          marching along when the forest is shaken by a blinding explosion. They recover
          to see the dark forest well lit all around them. Their preoccupation with the
          scene above causes them to miss the youth descend from a nearby tree. Only
          when he haughtily walks by them to they put two and two together. The camera
          pans up from the troupe to finally reveal a fully lit moon in the night sky.
        </p>
      </div>
    </div>
  </div>
