<h1>{{ message }}</h1>
<div class="wrapper">
<div id="resume_header">
  <p id ="resume_name">Ian N. Mrak</p>
  <a href="matilto:{{ email }}">
    <p id="resume_email">{{ email }}</p>
  </a>
</div>
<div id="resume_body">
<h3>Objective</h3>
<p>
Seeking a position as a 3D graphics artist with a company that values quality and creative thinking. To continue my education as an animator and develop my skill set for an expanding industry.
</p>
<h3>Skills and Qualifications</h3>
  <ul>
    <li>Autodesk Maya</li>
    <li>Autodesk Mudbox</li>
    <li>Adobe Photoshop</li>
    <li>Adobe After Effects</li>
    <li>Adobe Illustrator</li>
    <li>Adobe Audition</li>
    <li>Audacity</li>
    <li>Corel Painter</li>
  </ul>
  <h3>Work Experience</h3>
    <p>2014 - 2015 - <strong>JM Associates</strong> - Little Rock, AR</p>
      <ul>
        <li>3D graphics freelance and Chyron operator for 2015 Bassmaster Classic</li>
        <li>Modeling, rigging, and animating of 3D fish assets</li>
        <li>3D animation of screen transitions and logo displays</li>
        <li>Building and archiving of graphic library for live show feeds</li>
      </ul>
     <p>Summer 2015 - <strong>Giant Propeller</strong> - Remote Working</p>
       <ul>
         <li>Facial Animation using Faceware Retargeter in Maya for NBA-2K</p>
       </ul>
     <p>Summer 2011 - <strong>University of Arkansas for Medical Scienes</strong> - Little Rock, AR</p>
       <ul>
         <li>Group research project using excellent team communication on fibronectin binding proteins</li>
         <li>Rsearched Fibronectin Binding Proteins</li>
       </ul>
   <h3>Projects and Accomplishments</h3>
      <p><strong>2015 Bassmaster Elite Series Live Show</strong></p>
        <ul>
          <li>Chyron operator for live show</li>
          <li>Created fonts for angler information and story progression</li>
        </ul>
      <p><strong>3D Animated Short Film - Firefly</strong></p>
        <ul>
          <li>2nd Place at the Academy of Art Spring Show</li>
          <li>Created by myself (Story, Pre-viz, Modeling, Rigging, Animation, Rendering, Effects, Post)</li>
        </ul>
    <h3>Education</h3>
      <p>2011 - 2015 - <strong>Academy of Art</strong> - San Francisco, CA</p>
        <ul>
          <li>MFA in 3D Character Animation</li>
        </ul>
      <p>2007 - 2011 - <strong>University of Arkansas</strong> - Fayetteville, AR</p>
        <ul>
          <li>Bachelor of Science in Biology, GPA 3.7</li>
        </ul>
</div>
<div class="left"></div>
<div id="footer">
  <p>4011 Wesley Drive, Little Rock, Arkansas 72223 | 501.766.4415</p>
</div>
</div>
