.project-panel {
  position: relative;
  width: 50%;
  margin-bottom: 5px;
}
.project {
  padding: $project-item-padding;
  border: 1px solid gray;
  width: calc(100% - 5px);
  margin: auto;
  box-sizing: border-box;
  background-color: white;
  transition-duration: 100ms;
  &:hover {
    background-color: $off-white;
  }
  span {
    margin-top: 10px;
  }
}
.project-link {
  text-decoration: none;
  color: black;
}
.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  ul {
    padding-left: 1em;
  }
}
.project-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 150px;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  opacity: .8;
  img {
    max-width: 100%;
    max-height: 90%;
  }
}
.project-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.project-name {
  font-size: 20px;
  margin-bottom: 5px;
}
.project-description {
  font-style: italic;
}
.project-contribution {
  margin-top: 5px;
  list-style-type: none;
  &:before {
    content: '- ';
  }
}
.project-github {
  margin-left: 10px;
  width: 30px;
  border-radius: 100%;
}
.github-link {
  width: 30px;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}
