.home-page {
  background: url('../../../assets/firefly_bg.jpg');
  background-size: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
}
