$btn-size: 50px;

.lightbox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, .7);
  img {
    max-width: 650px;
    max-height:650px;
  }
}
.lightbox-title {
  text-align: center;
  line-height: 30px;
  background-color: black;
  color: $off-white;
}
.lightbox-btn {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: $btn-size;
  width: $btn-size;
  background-color: white;
  padding: 15px;
  border-radius: 100%;
  &:hover {
    background-color: $off-white;
  }
}
.prev-btn {
  left: -4em;
}
.next-btn {
  right: -4em;
}
.lightbox-vid {
  position:fixed; /* keeps the lightbox window in the current viewport */
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0 ,0 ,0, .8) repeat;
  text-align:center;
}
.lightbox-vid a {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:0 0 25px #111;
  max-height: 50em;
  max-width: 70%;
}
