<div ng-if="vm.lb.activeItem">
  <div class="lightbox-background" ng-click="vm.resetActiveItem($event)">
  </div>
  <div class="lightbox-container">
    <div class="lightbox-btn prev-btn" ng-click="vm.nextItem(-1)"> << </div>
    <div class="lightbox">
      <div class="playBtn" ng-if="vm.lb.activeItem.isVideo">
        <video
        class="list-pic"
        ng-src="{{ vm.lb.activeItem.video }}"
        ng-click="play($event)"
        video-ctrls>
      </video>
      <div ng-class="playIcon"></div>
    </div>
    <img ng-if="!vm.lb.activeItem.isVideo" ng-src="{{ vm.lb.activeItem.image }}">
    <div class="lightbox-title">{{ vm.lightbox.activeItem.title }}</div>
  </div>
  <div class="lightbox-btn next-btn" ng-click="vm.nextItem(1)"> >> </div>
</div>
</div>
