<div class="navbar">
  <ul>
    <li><a ui-sref="home" href="#/">Home</a></li>
    <li><a ui-sref="illustrations">Illustration</a></li>
    <li><a ui-sref="modeling">Modeling</a></li>
    <li><a href="#">Animation</a>
      <ul>
        <li id="demo_reel"><a ui-sref="demo_reel">Demo Reel</a></li>
        <li id="firefly"><a ui-sref="firefly">Firefly</a></li>
        <li id="other"><a ui-sref="other">Other</a></li>
      </ul>
    </li>
    <li><a ui-sref="projects">Projects</a></li>
    <li><a href="#aboutme" ui-sref="about">About</a></li>
  </ul>
</div>
