<div class="navbar">
  <ul>
    <li><a ui-sref="home"><img src="../../assets/image/mrakulous_icon_s.png"></a></li>
    <li><a ui-sref="illustrations">Illustration</a></li>
    <li><a ui-sref="modeling">3D Graphics</a></li>
    <li><a>Animation</a>
      <ul>
        <li id="demo_reel"><a ui-sref="demo_reel">Demo Reel</a></li>
        <li id="firefly"><a ui-sref="firefly">Firefly</a></li>
      </ul>
    </li>
    <li><a ui-sref="projects">Projects</a></li>
    <li><a ui-sref="about">About</a></li>
  </ul>
</div>
