.aboutme {
  font-size: 18px;
  padding-bottom: 10px;
  margin-left: 13em;
}
.body_column {
  width: 50em;
  margin: auto;
  // box-shadow: 5px 5px 16px 1px #1A1A1A;
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, .6);
  padding: 10px;
}
.body_column h2 {
  padding-bottom: 5px;
}
#profile {
  margin-right: 10px;
  padding-bottom: 1px;
}
#card {
  border: 1px solid black;
}
