#anim-tag {
  width: auto;
}
.navbar {
  z-index: 20;
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0px;
  img {
    height: inherit;
    padding: 8px 0px;
    box-sizing: border-box;
  }
}
.nav-ul li.toggle {display: none;}

.nav-ul ul {
  display: none;
  border-bottom: $nav-border;
  background: $grey-bar;
  padding: 0;
  top: 100%;
}
.nav-ul li:hover > ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
}
.icon {
  a {
    padding: 0;
  }
  border-left: $nav-border;
}
.nav-ul li:first-child {
  float: left;
}
.nav-end {
  border-left: $nav-border;
}
.nav-ul {
  background: $grey-bar;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding-left: 10px;
  width: 100%;
  list-style: none;
  text-align: right;
  position: relative;
  display: inline-block;
  font-family: Lovelo, sans-serif;
  line-height: 24px;
}
.nav-ul li a {
  text-decoration: none;
  color: #E6E6E6;
  display: block;
  padding: 0px 25px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.nav-ul li ul li a {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: auto;
  line-height: 50px;
  transition: background .15s ease-in-out;
}
.nav-ul:after {
  content: "";
  clear: both;
  display: block;
}
.nav-ul li {
  border-right: $nav-border;
  float: right;
  display: flex;
  align-items: center;
  height: 50px;
}
.nav-ul li:hover {
  z-index: 10;
  position: relative;
  background: rgba(75, 84, 95, .2);
  transition: background .15s ease-in-out;
}
.nav-ul li.current {
  background-color: rgba(75, 84, 95, .5);
}

.nav-ul li:hover a {
  color: #fff;
}
.nav-ul ul li {
  float: none;
  position: relative;
}
.nav-ul ul li a {
  width: 100%;
  color: #fff;
}
.nav-ul ul li a:hover {
  background: #FFFFB2;
  background: rgba(255, 255, 255, .2);
  color: #FFFFDF;
  text-shadow: -.3px 0 #333329, 0 .3px #333329, .3px 0 #333329, 0 -.3px #333329;
}
.nav-ul ul ul {
  position: absolute;
  left: 100%; top:0;
}
.nav-ul ul li a:active {
  box-shadow: inset 1px 1px 7px 2px #121212;
}
